html,
body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Rubik', sans-serif;
}

button {
    cursor: pointer;
}

button, input {
    font-family: 'Rubik', sans-serif;
}

/* 

    Container

*/

.Container {
    max-width: 1180px;
    height: 100%;
    margin:auto;
}

.Blurred-Main {
    filter: blur(10px) brightness(25%);
    transition-property: filter;
    transition-duration: .2s;
}

/*

    Hero background image 

*/
.Hero_Background {
    position: absolute;
    top: 0;
    left: 0;
    height: 25vh;
    width: 100%;
    z-index: -1;
    background-image: url('../src/hero_bgjpg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*

    Nav bar styles
    
*/

.Search-Bar {
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75), transparent);
    transition-property: background-color;
    transition-duration: .5s;
}

.Search-Bar:hover {
    background-color: black;
}

.Search-Bar-Content {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 100%;
    color: white;
}

.Search-Bar-Content h1 {
    margin-right: auto;
}

form {
    display: flex;
    margin: auto;
}

.Search-Bar-Input {
    min-width: 300px;
    padding: 10px 20px;
    font-size: 1em;
}

.Search-Bar-Keywords {
    display: flex;
    flex-direction: column;
}

.Search-Bar-Keywords h3 { 
    margin: 0;
    color: grey;
    font-size: 1em;
    font-weight: 400;
 }

.Keywords-Item {
    border: none;
    padding: 5px 10px;
    background: grey;
    color: white;
    transition: background .2s;
}

.Keywords-Item:hover {
    background: rgb(102, 102, 102);
}

/* 

    Shows List Component

*/


.Shows-Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Show-Card {
    flex: 0 0 auto;
    margin: 15px;
    background: white;
    text-align: center;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: box-shadow .2s;
}

.Show-Card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}

/* 

    Show Preview Item

*/

.Show-Preview {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
}

.Show-Preview-Container {
    position: relative;
    height: 100%;
    width: 100%;
}

.Show-Preview-Close-Btn {
    position: absolute;
    top: 0;
    right: 0;
}

/* 

    Searched Label

*/

.Shows-Searched-Label {
    color: white;
}

.Shows-Searched-Label h3 {
    margin: 0;
    font-size: 3em;
    text-transform: uppercase;   
}